n8n/demo-data/workflows/data scrape and embedding workflow obj1 and 2.json
{
  "name": "data scrape and embedding workflow obj1 and 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        272
      ],
      "id": "648d9f19-41f3-4870-9508-dfa160e6e855",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": ".n8n-files/List 1.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1184,
        288
      ],
      "id": "4c29f0c0-0aa5-41ca-be4a-e5b057ec5515",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -976,
        288
      ],
      "id": "1ebfd071-3da7-4d88-b933-d00203ed9ccb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        416
      ],
      "id": "bff9a03a-9277-4a33-a26c-2fac969a371f",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://{{ $json.domain }}/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        384
      ],
      "id": "cab401da-0a54-4cde-a3fe-852edd69ab10",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        592
      ],
      "id": "82d81318-2af5-4034-84ff-baf89c05c9c2",
      "name": "Wait",
      "webhookId": "1f8b2987-8a09-49f5-b918-3bd3c4167325"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebb0962e-22f4-4f9e-98d0-31106e1a441a",
              "name": "data",
              "value": "={{ $node[\"HTTP Request\"].json[\"data\"] }}",
              "type": "string"
            },
            {
              "id": "e30f6517-dd61-486c-9736-b88e775dbe4e",
              "name": "name",
              "value": "={{$node[\"Wait\"].json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "17f2b143-524c-4f29-bebe-77a7efe7ad18",
              "name": "domain",
              "value": "={{$node[\"Wait\"].json[\"domain\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        464
      ],
      "id": "d360f9d7-e635-41a7-9297-c08c1dc4b800",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\nconst base = `https://${$json.domain}`;\n\nconst regex = /<a[^>]+href=[\"']([^\"']+)[\"']/gi;\n\nconst termsLinks = [];\nconst privacyLinks = [];\n\nlet match;\n\nwhile ((match = regex.exec(html)) !== null) {\n  let href = match[1].toLowerCase();\n\n  // normalize URL\n  if (href.startsWith('/')) href = base + href;\n  if (!href.startsWith('http')) href = base + '/' + href;\n\n  // classify links\n  if (/terms|conditions|tnc/.test(href)) {\n    termsLinks.push(href);\n  } else if (/privacy|gdpr|policy|legal/.test(href)) {\n    privacyLinks.push(href);\n  }\n}\n\nreturn [{\n  json: {\n    domain: $json.domain,\n    terms_and_conditions: [...new Set(termsLinks)],\n    privacy_policy: [...new Set(privacyLinks)],\n    source: \"homepage\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        464
      ],
      "id": "928237cf-73f8-4fd0-9b52-25a27394ca66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.terms_and_conditions[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        240
      ],
      "id": "962595ad-6b4e-4ce2-944e-808b5bacf85a",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.privacy_policy[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        720
      ],
      "id": "6027b025-74a1-4b46-ba4f-5619fb7e538c",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        592
      ],
      "id": "e748edb9-867a-4af7-b6f9-36f1531bb183",
      "name": "Wait1",
      "webhookId": "6ba63991-fa2d-4e6e-8a0b-d77c41097f96"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "323cebda-70de-4fa1-8206-e480963f4c1e",
              "leftValue": "={{ $json.terms_and_conditions }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        304
      ],
      "id": "19411577-61b7-444f-b687-b4f50851987a",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "323cebda-70de-4fa1-8206-e480963f4c1e",
              "leftValue": "={{ $json.privacy_policy }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        560
      ],
      "id": "d6869dde-4b05-4a48-bd44-02fb13f8f9ef",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || \" \";\nconst domain= $node[\"Code in JavaScript\"].json.domain\n// remove scripts & styles\n\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '');\n\n// remove all HTML tags\ntext = text.replace(/<[^>]+>/g, ' ');\n\n// normalize whitespace\ntext = text.replace(/\\s+/g, ' ').trim();\n\nreturn [{\n  json: {\n    domain: domain,\n    policy_type: \"terms\",\n    text,\n    source_url:  $node[\"Code in JavaScript\"].json.source || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        128
      ],
      "id": "46d7db9e-b5a7-4d67-a78d-9be652fccc12",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25cba547-0b8a-4771-8327-3be864816d08",
              "leftValue": "={{ $json.text }}",
              "rightValue": "\"\"",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        304
      ],
      "id": "95cabb4e-3824-4d46-a9c8-d49de3083095",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text;\nconst chunkSize = 1000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push(text.slice(i, i + chunkSize));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    id: `${$json.domain}-${$json.policy_type}-${index}`,\n    domain: $json.domain,\n    doc_type: $json.policy_type,\n    text: chunk,\n    source_url: $json.source_url || null\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        96
      ],
      "id": "a448038b-4dd8-46a7-8a86-768711068084",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "policy_documents",
          "mode": "list",
          "cachedResultName": "policy_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1344,
        80
      ],
      "id": "ff1b871a-f6fd-41d2-87c6-86a5f25f6c29",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "domain",
                "value": "={{ $json.metadata.domain}}"
              },
              {
                "name": "doc_type",
                "value": "={{ $json.metadata.doc_type}}"
              },
              {
                "name": "source_url",
                "value": "={{ $json.metadata.source_url}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1584,
        272
      ],
      "id": "f73eb4a1-101f-45a2-8c42-2aa27ab5f68e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1136,
        304
      ],
      "id": "8e1d86b0-84a8-4240-a95c-8d73f8eaab94",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || \" \";\nconst domain= $node[\"Code in JavaScript\"].json.domain\n// remove scripts & styles\n\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '');\n\n// remove all HTML tags\ntext = text.replace(/<[^>]+>/g, ' ');\n\n// normalize whitespace\ntext = text.replace(/\\s+/g, ' ').trim();\n\nreturn [{\n  json: {\n    domain: domain,\n    policy_type: \"privacy_policy\",\n    text,\n    source_url:  $node[\"Code in JavaScript\"].json.source || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        976
      ],
      "id": "3e2fc4e7-286b-4cac-af89-b5d255b6109c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25cba547-0b8a-4771-8327-3be864816d08",
              "leftValue": "={{ $json.text }}",
              "rightValue": "\"\"",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1184
      ],
      "id": "2298e634-368a-42d1-b903-76d5ec0b7b89",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text;\nconst chunkSize = 1000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push(text.slice(i, i + chunkSize));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    id: `${$json.domain}-${$json.policy_type}-${index}`,\n    domain: $json.domain,\n    doc_type: $json.policy_type,\n    text: chunk,\n    source_url: $json.source_url || null\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        976
      ],
      "id": "e1b52d1a-6eed-4c9d-8f1b-00ea061cd3b2",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node version\n// items = the input array from previous node\nreturn items.map(item => {\n  const doc = item.json; // Each item has a `json` property\n\n  return {\n    json: {\n      content: doc.text,\n      metadata: {\n        domain: doc.domain,\n        doc_type: doc.doc_type,\n        source_url: doc.source_url\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        976
      ],
      "id": "f54bdd2f-0a87-4cb8-98c8-8d9af508a9e0",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node version\n// items = the input array from previous node\nreturn items.map(item => {\n  const doc = item.json; // Each item has a `json` property\n\n  return {\n    json: {\n      content: doc.text,\n      metadata: {\n        domain: doc.domain,\n        doc_type: doc.doc_type,\n        source_url: doc.source_url\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        80
      ],
      "id": "4b1e9585-d18a-47ea-b7b1-de5835165359",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1680,
        480
      ],
      "id": "b795cf9d-1f7c-45f6-87e0-839685342d7e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "policy_documents",
          "mode": "list",
          "cachedResultName": "policy_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1168,
        960
      ],
      "id": "f16f1613-7ea6-442a-b162-bcfa3a4bc5cf",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "domain",
                "value": "={{ $json.metadata.domain}}"
              },
              {
                "name": "doc_type",
                "value": "={{ $json.metadata.doc_type}}"
              },
              {
                "name": "source_url",
                "value": "={{ $json.metadata.source_url}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1360,
        1136
      ],
      "id": "b95db0ee-4388-477b-a0ca-9b42d336579b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1072,
        1216
      ],
      "id": "470ac7e3-2fe5-47b9-ba40-95e3f1bba8b9",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1440,
        1328
      ],
      "id": "4b787b77-07a9-4bb9-adc8-4a87772acdeb",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c3b5274b-fefd-486c-ba5f-874093d6b975",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "7M3kZoef8Zg3EL82AdFr2",
  "tags": []
}