n8n/demo-data/workflows/frontend api objective 4.json
{
  "name": "frontend api objective 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "policy-chat",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -112
      ],
      "id": "0621e68c-ff9a-4a22-9461-91bc1592bcf0",
      "name": "Webhook",
      "webhookId": "aa129db1-b140-4b44-977b-e06adec536ff"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "policy_documents",
          "mode": "list",
          "cachedResultName": "policy_documents"
        },
        "prompt": "={{ $json.body.question }}",
        "topK": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -384,
        -304
      ],
      "id": "290c37e7-06b1-4727-90e6-af4a1d21849d",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -384,
        -144
      ],
      "id": "0bd4832d-d32c-43d6-b89f-222b8bd28168",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        -96
      ],
      "id": "16a9804a-df11-4c22-9164-ab790c6a09fc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        272,
        80
      ],
      "id": "43d22a0b-6246-41b8-897c-55cb5f642135",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "policy_scope_matrix",
          "mode": "list",
          "cachedResultName": "policy_scope_matrix"
        },
        "where": {
          "values": [
            {
              "column": "=domain",
              "value": "={{ $json.document.metadata.domain }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -304
      ],
      "id": "cc146b67-41eb-476e-bf2b-c8061c838fdc",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "yI2DPywfRK0VtKZk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const question = $node[\"Webhook\"].json.body.question;\nconst domain = $node[\"Select rows from a table\"].json.domain;\n\n// ✅ Always use $items() for multi-item nodes\nconst policyChunks = $items(\"Qdrant Vector Store\")\n  .map(item => `- ${item.json.document.pageContent}`)\n  .join(\"\\n\");\n\n// Structured scope data from Postgres\nconst scopes = $node[\"Select rows from a table\"].json;\n\nreturn [{\n  json: {\n    prompt: `\nYou are a policy assistant.\n\nRULES:\n- Answer ONLY using the provided policy text and structured scope data\n- Do NOT guess or use outside knowledge\n- Be concise and factual\n- If the answer cannot be determined from the data, say \"The policy does not specify this.\"\n\nUser question:\n${question}\n\nPolicy domain:\n${domain}\n\nPolicy text excerpts:\n${policyChunks}\n\nStructured scope findings (from database):\n${JSON.stringify(scopes, null, 2)}\n\nAnswer format (plain text, no markdown):\nAnswer:\nEvidence:\n`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -128
      ],
      "id": "9c3de3d5-cadd-453f-8e7c-8c7f87210488",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1f9758a7-2010-48fd-ab35-5eb1daba6945",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "oda8wczdh1q3iAAEztomn",
  "tags": []
}