n8n/demo-data/workflows/search.json
{
  "name": "search",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -672,
        48
      ],
      "id": "5ef0bbde-47c3-422b-afab-ba0ee08c9164",
      "name": "When chat message received",
      "webhookId": "19609135-212f-4398-8ce6-60e28e378214"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "policy_documents",
          "mode": "list",
          "cachedResultName": "policy_documents"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -384,
        48
      ],
      "id": "0112bb6d-61b6-45a9-b915-3ce7163f8cf0",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -336,
        224
      ],
      "id": "d6ca7b99-dbe2-4d04-ae52-737d9ad547e1",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=You are a legal policy assistant.\n\nAnswer the user's question using ONLY the context below.\nIf the answer is not present, say: \"I could not find this information in the policy.\"\n\nContext:\n{{ $json.document.pageContent }}\n\nQuestion:\n{{ $node[\"When chat message received\"].json.chatInput }}\n\n\nAnswer:\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        16,
        64
      ],
      "id": "500d5a6d-dd83-4957-8402-9c5d6b7b62a9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -112,
        256
      ],
      "id": "7d6abcd4-c9d5-47c7-87c7-2b03934fcb0d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d690342a-51e3-47f7-aea6-c97404f0ac9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "ChlZsWXpIQuwHP_qLz4cH",
  "tags": []
}